body{
    background-color:rgb(62, 145, 145);
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-style: italic;
    }
h3{
    color: rgb(255, 255, 255);
    font-style: italic;  
    }
table{
    font-family:'Courier New', Courier, monospace;
    color:rgb(221, 255, 0);   
    }

.my-hobbies{
    font-size: 18px;
    color: rgb(238, 255, 0);
    font-style: italic;  
    }

.Favourite-movies{
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(238, 255, 0);
    }
